@model IEnumerable<BeFit.Models.Ingridient>

@{
    ViewBag.Title = "Produkty";
}

<h2>Produkty</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create", new object { }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnergeticValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarboHydrates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeasureRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnergeticValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarboHydrates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasureRate)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
