@model BeFit.Models.DietMeal

@{
    ViewBag.Title = "Usuwanie posiłku diety";
}

<h2>Usuwanie posiłku diety</h2>

<h3>Jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfMeal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfMeal.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Anuluj", "Details", "Diets", new { id = Model.Diet.Id }, string.Empty)
        </div>
    }
</div>
