@model BeFit.Models.MealOpinion

@{
    ViewBag.Title = "Usuń opinię";
}

<h2>Usuń opinię</h2>

<h3>Jesteś pewny, że chcesz usunąć opinię?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Klient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOpinion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOpinion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" />
        @Html.ActionLink("Anuluj", "Index", new object { }, new { @class = "btn btn-default" })
    </div>
    }
</div>
