@model BeFit.Models.Diet

@{
    ViewBag.Title = "Szczegóły diety";
}

<h2>Szczegóły diety</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDiet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDiet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnergeticValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnergeticValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dietician)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dietician.FirstName)
            @Html.DisplayFor(model => model.Dietician.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieticianOpinion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieticianOpinion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieticianRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieticianRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietOpinion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietOpinion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalWarning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalWarning)
        </dd>

        @foreach (var i in (List<BeFit.Models.TypeOfMeal>)ViewBag.TypeOfMeal)
        {
            <dt>
                @Html.DisplayFor(model => i.Name)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Nazwa posiłku</th>
                        <th>Opis</th>
                    </tr>
                    @foreach (var item in Model.DietMeals)
                    {
                        if (item.TypeOfMeal == i)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Meal.Name.ToString(), "Details", "Meals", new { id = item.Meal.Id }, string.Empty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Meal.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("Usuń posiłek z diety", "Delete", "DietMeals", new { id = item.Id }, string.Empty)
                                </td>
                            </tr>

                        }
                    }
                </table>
            </dd>
        }

            @Html.ActionLink("Dodaj posiłek", "Create", "DietMeals", new { id = Model.Id }, string.Empty)


    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy diet", "Index")
</p>
