@model IEnumerable<BeFit.Models.Meal>

@{
    ViewBag.Title = "Posiłki";
}

<h2>Posiłki</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Dodaj posiłek", "Create", new object { }, new { @class = "btn btn-default" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" }) 
            }
        </td>
    </tr>
}

</table>
