@model BeFit.Models.Message

@{
    ViewBag.Title = "Sczegóły wiadomości";
}

<h2>Szczegóły wiadomości</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Sender.FirstName)
            @Html.DisplayFor(model => model.Sender.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Receiver.FirstName)
            @Html.DisplayFor(model => model.Receiver.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy wiadomości", "Index", new object { }, new { @class = "btn btn-default" })
</p>
