@model BeFit.Models.MealIngridient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MealIngridient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingridient)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Nazwa składnika</th>
                    <th>Jednostka miary</th>
                    <th>Tłuszcz</th>
                    <th>Białko</th>
                    <th>Węglowodany</th>
                    <th>Wartość energetyczna</th>
                </tr>
                @{decimal fat = (int)(Model.Ingridient.Fat * (Model.Quantity / 100)); }
                @{decimal protein = (decimal)(Model.Ingridient.Protein * (Model.Quantity / 100)); }
                @{decimal carbo = (decimal)(Model.Ingridient.CarboHydrates * (Model.Quantity / 100)); }
                @{int kcal = (int)(Model.Ingridient.EnergeticValue * (Model.Quantity / 100)); }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Ingridient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Ingridient.MeasureRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fat) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => protein) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => carbo) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => kcal) kcal
                    </td>
                </tr>
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
