@model BeFit.Models.MealIngridient

@{
    ViewBag.Title = "Szczegóły składnika";
}

<h2>Szczegóły składnika</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Produkt
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Jednostka miary</th>
                    <th>Tłuszcz</th>
                    <th>Białko</th>
                    <th>Węglowodany</th>
                    <th>Wartość energetyczna</th>
                </tr>
                @{decimal fat = (int)(Model.Ingridient.Fat * (Model.Quantity / 100)); }
                @{decimal protein = (decimal)(Model.Ingridient.Protein * (Model.Quantity / 100)); }
                @{decimal carbo = (decimal)(Model.Ingridient.CarboHydrates * (Model.Quantity / 100)); }
                @{int kcal = (int)(Model.Ingridient.EnergeticValue * (Model.Quantity / 100)); }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Ingridient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Ingridient.MeasureRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => fat) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => protein) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => carbo) g
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => kcal) kcal
                    </td>
                </tr>
            </table>
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Powrót do listy składników", "Index", new object { }, new { @class = "btn btn-default" })
</p>
