@model IEnumerable<BeFit.Models.MealIngridient>

@{
    ViewBag.Title = "Składniki posiłków";
}

<h2>Składniki posiłków</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create", new object { }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Jednostka miary
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingridient.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity) 
    </td>
    <td>
        @Html.DisplayFor(model => item.Ingridient.MeasureRate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ingridient.Name)
    </td>
    <td>
        @Html.ActionLink("Edycja", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
    </td>
</tr>
}

</table>
