@model BeFit.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    @Html.HiddenFor(model => model.password_hash)
    @Html.HiddenFor(model => model.Deleted)
    @Html.HiddenFor(model => model.roleName)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>

    @if (Model.roleName == "Klient")
    {

        foreach (var item in (List<BeFit.Models.Diet>)ViewBag.DietsCustomer)
        {
            DateTime endDate = item.DateStart.AddDays(item.Duration);
            if (endDate > DateTime.Now)
            {
                <h3>Aktywna dieta</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Dietetyk</th>
                            <th>Data rozpoczęcia</th>
                            <th>Czas trwania</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name.ToString(), "Details", "Diets", new { id = item.Id }, string.Empty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dietician.FirstName)
                                @Html.DisplayFor(modelItem => item.Dietician.Surname)
                            </td>
                            <td>
                                @Html.Label(item.DateStart.ToString("yyyy-MM-dd"))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <h3>Brak aktywnej diety</h3>
            }

        }

        <h3>Pomiary</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Wzrost</th>
                    <th>Waga</th>
                    <th>Data pomiaru</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerDatas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Growth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.Label(item.DateOfMeasurement.ToString("yyyy-MM-dd"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Aktywność fizyczna</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa aktywności</th>
                    <th>Liczba splanonych kalorii</th>
                    <th>Data aktywności</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PhysicalActivities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CaloriessBurned)
                        </td>
                        <td>
                            @Html.Label(item.DateActivity.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>
            Wystawione opinie
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Posiłek</th>
                    <th>Ocena</th>
                    <th>Opis</th>
                    <th>Data wystawienia opinii</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MealOpinions)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Meal.Name.ToString(), "Details", "Meals", new { id = item.Meal.Id }, string.Empty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MealRate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOpinion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Zakończone diety</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Dietetyk</th>
                    <th>Data zakończenia diety</th>
                </tr>
            </thead>
            @foreach (var item in (List<BeFit.Models.Diet>)ViewBag.DietsCustomer)
            {
                DateTime endDate = item.DateStart.AddDays(item.Duration);
                if (endDate < DateTime.Now)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name.ToString(), "Details", "Diets", new { id = item.Id }, string.Empty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dietician.FirstName)
                                @Html.DisplayFor(modelItem => item.Dietician.Surname)
                            </td>
                            <td>
                                @Html.Label(endDate.ToString("yyyy-MM-dd"))
                            </td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <h4>Brak zakończonych diet</h4>
                }
            }
        </table>
    }

    @if (Model.roleName == "Dietetyk")
    {
        <h3>Diety</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Klient</th>
                    <th>Data zakończenia</th>
                    <th>Ocena dietetyka</th>
                    <th>Ocena dietety</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<BeFit.Models.Diet>)ViewBag.DietsDietician)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name.ToString(), "Details", "Diets", new { id = item.Id }, string.Empty)
                        </td>
                        <td>
                            @Html.ActionLink(item.Customer.FirstName + " " + item.Customer.Surname, "Details", "Users", new { id = item.Customer.Id }, string.Empty)
                        </td>
                        <td>
                            @{ DateTime endDate = item.DateStart.AddDays(item.Duration);}
                            @Html.Label(endDate.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @if (endDate < DateTime.Now && item.DieticianRate > 0)
                            {
                                @Html.DisplayFor(modelItem => item.DieticianRate)
                            }
                            else
                            {
                                @Html.Display("Brak oceny")
                            }
                        </td>
                        <td>
                            @if (endDate < DateTime.Now && item.DieticianRate > 0)
                            {
                                @Html.DisplayFor(modelItem => item.DieticianRate)
                            }
                            else
                            {
                                @Html.Display("Brak oceny")
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
